body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#display {
  margin: 10px 0;
  padding: 20px 20px 20px 0;
  width: 97%;
  background-color: #eee;
  text-align: right;
  font-size: 1.8rem;
}

.red-bg {
  border: #B20000;
  background-color: #B20000;
  color: #eee;
}

.gray-bg {
  border: #444;
  background-color: #444;
  color: #eee;
}

#calc-body {
  position: relative;
  margin-top: 70px;
  padding: 20px;
  width: 445px;
  border: 1px solid black;
  background-color: #888;
}

.calc-row {
  display: flex;
  flex-wrap: wrap;
}

.calc-row button {
  margin: 5px;
  font-size: 1.3rem;
}

.btn-num {
  border: #eee;
  background-color: #eee;
}

.sm-btn {
  width: 100px;
  height: 100px;
}

.lg-btn-vertical {
  position: absolute;
  right: 25px;
  width: 100px;
  height: 210px;
  border: #E59400;
  background-color: #E59400;
}

.lg-btn-horizontal {
  width: 210px;
  height: 100px;
}

header {
  position: absolute;
  right: 5%;
}

header a img {
  width: 45px;
}

@media screen and (max-width: 1400px) {
  header a img {
    width: 38px;
  }

  #calc-body {
    width: 335px;
  }

  .sm-btn {
    width: 73px;
    height: 73px;
  }
  
  .lg-btn-vertical {
    right: 22px;
    width: 73px;
    height: 155px;
  }
  
  .lg-btn-horizontal {
    width: 155px;
    height: 73px;
  }
}

@media screen and (max-width: 600px) {
  header a img {
    width: 30px;
  }

  #display {
    margin: 10px 0;
    padding: 12px 12px 12px 0;
    width: 97%;
  }

  #calc-body {
    width: 250px;
  }

  .sm-btn {
    width: 52px;
    height: 52px;
  }
  
  .lg-btn-vertical {
    right: 22px;
    width: 52px;
    height: 115px;
  }
  
  .lg-btn-horizontal {
    width: 115px;
    height: 52px;
  }
}