body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#display {
  margin: 10px 0;
  padding: 20px 20px 20px 0;
  width: 425px;
  background-color: #ccc;
  text-align: right;
  font-size: 1.8rem;
}

.red-bg {
  border: #B20000;
  background-color: #B20000;
  color: #eee;
}

.gray-bg {
  border: #444;
  background-color: #444;
  color: #eee;
}

#calc-body {
  position: relative;
  margin-top: 70px;
  padding: 20px;
  width: 445px;
  border: 1px solid black;
  background-color: #888;
}

.calc-row {
  display: flex;
  flex-wrap: wrap;
}

.calc-row button {
  margin: 5px;
  font-size: 1.3rem;
}

.sm-btn {
  width: 100px;
  height: 100px;
}

.lg-btn-vertical {
  position: absolute;
  right: 25px;
  width: 100px;
  height: 210px;
  border: #E59400;
  background-color: #E59400;
}

.lg-btn-horizontal {
  width: 210px;
  height: 100px;
}